services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comfyui
    user: "${PUID}:${PGID}"
    command: python3 main.py --listen 0.0.0.0 --port 8188 --lowvram --force-fp16
    ports:
      - "8188:8188"
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    volumes:
      - ${BASE_STORAGE_PATH}/comfyui/user:/workspace/ComfyUI/user
      - ${BASE_STORAGE_PATH}/comfyui/models:/workspace/ComfyUI/models
      - ${BASE_STORAGE_PATH}/comfyui/custom_nodes:/workspace/ComfyUI/custom_nodes
      - ${BASE_STORAGE_PATH}/comfyui/output:/workspace/ComfyUI/output
      - ${BASE_STORAGE_PATH}/comfyui/input:/workspace/ComfyUI/input
      - ${BASE_STORAGE_PATH}/comfyui/temp:/workspace/ComfyUI/temp
    environment:
      - HSA_OVERRIDE_GFX_VERSION=12.0.1
      - PYTORCH_ROCM_ARCH=gfx1201
    group_add:
      - "${VIDEO_GID:-44}"
      - "${RENDER_GID:-109}"
    restart: unless-stopped

